/* -------------------- BASE STYLES ---------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #0e0e0e;
  color: #c7b990;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
main {
  width: 600px;
  position: relative;
  margin: 100px auto;
  border: 1px solid #333;
  border-radius: 3px;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}
h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  margin-left: 0.5ch;
}
button {
  cursor: pointer;
}

@keyframes rest-glow {
  from {
    box-shadow: 0 0 15px -3px rgba(255, 0, 0, 0.1);
  }
  to {
    box-shadow: 0 0 15px -3px rgba(255, 100, 50, 1), 0 0 25px -7px rgba(255, 0, 0, 1);
  }
}
/* --- */

/* -------------------- UTILITY CLASSES ---------------------- */
.container {
  display: flex;
  flex-flow: row wrap;
}
.right {
  text-align: right;
}
.show {
  display: block !important;
}
.hide {
  display: none;
}
.small {
  color: #c7b990;
  display: block;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.2ch;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.1s ease-in-out;
}
/* --- */

/* -------------------- LAYOUT STYLES ---------------------- */
.header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: #171717;
}
.waves {
  display: flex;
}
.icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.content {
  background: rgb(23, 23, 23);
  background: linear-gradient(180deg, rgba(23, 23, 23, 1) 10%, rgba(135, 136, 135, 1) 90%);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 50% 50%;
}
.content-box {
  background-color: #171717;
  border: 2px solid #777777;
  border-radius: 3px;
  border-top-color: #989898;
  border-bottom-color: #464646;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
  padding: 5px;
}

/* --- */

/* -------------------- ICON GROUP STYLES ---------------------- */
.icon::before,
.icon.gold::after {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: transparent;
}
.icon span {
  font-weight: 900;
  color: #ffffff;
}
.logo::before {
  background-image: url("./src/sprites.png");
  background-position: -224px center;
}
.icon.logo {
  flex-flow: row;
}
.gold::after {
  background-image: url("./src/sprites.png");
  background-position: -96px center;
}
.gold-text {
  text-align: right;
  margin-right: 0.5ch;
}
.wave-info::before {
  background-image: url("./src/sprites.png");
  background-position: -128px center;
}
.monster-info::before {
  background-image: url("./src/sprites.png");
  background-position: -192px center;
}
.rest-title::before {
  background-image: url("./src/sprites.png");
  background-position: -128px center;
}
/* --- */

/* -------------------- HEALTH BAR ---------------------- */
.player-health {
  border-radius: 3px;
  border: 2px solid #656565;
  border-top-color: #989898;
  border-bottom-color: #464646;
  height: 34px;
  margin: auto;
}
.playerHPBarBG {
  width: 280px;
  padding: 2px;
  border-radius: 3px;
  border: 0;
  background-color: #084124;
  position: relative;
}
.playerHPBarBG > div {
  border-radius: 2px;
  background-color: #00a651;
  height: 26px;
  transition: all 0.1s ease-in-out;
}
.player-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
}
/* --- */
/* REST SECTION */
.rest {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.rest-title {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rest-title::before {
  border-radius: 50%;
  animation: rest-glow 1s linear 0s infinite alternate;
  margin-bottom: 0.3rem;
}
.rest-title .small {
  color: white;
  text-align: center;
}
.rest-button {
  border: 0;
  background-color: transparent;
  outline: 0;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid transparent;
  padding: 0.3rem 0;
}
.rest-button:hover, .rest-button:active {
  box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.15);
  border-color: red;
}
.rest-button:hover .small {
  color: gold;
}
/*/

/* OLD STYLES FROM DEVELOPMENT */
#enemyHitbox {
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 0;
}

#retreat,
.enemy_e,
.campfire_e,
#advance,
#next,
#enemyHitbox,
.buy-regen-btn,
.upgrade-regen-btn,
.buy-midas-btn,
.upgrade-midas-btn,
.buy-aura-btn,
.upgrade-aura-btn {
  display: none;
}
.enemyHPBar {
  width: 300px;
  border: 1px solid lightgray;
}

.enemyHPBar > div {
  background-color: green;
  margin: 1px;
  height: 25px;
  transition: all 0.1s ease-in-out;
}

.enemies {
  padding: 10px;
}

.gear {
  display: flex;
}

.gear > div {
  padding: 10px;
}

.gear button {
  border: 0;
  background-color: lightgray;
  padding: 5px 10px;
  outline: 0;
  cursor: pointer;
}
